
.form-evento {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centraliza os eventos */
}


.form-evento label {
  margin: 10px 0 5px;
  font-weight: bold;
  align-self: center;    /* centraliza os labels */
}


.form-evento input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  max-width: 400px;
  text-align: center;    /* centraliza o texto dentro do input */
}


.btn-salvar {
  background-color: #0072bb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 400px;
  text-align: center;    /* centraliza o texto do botão */
}
