.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .login-container input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-container button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  