footer{
    width: 100%;                        /* Ocupa toda a largura */
    background-color: #e27eda;          /* Azul padrão SENAI */
    color: rgb(255, 255, 255);                       /* Texto branco */
    padding: 10px 0;                    /* Espaçamento interno */
    font-size: 1.6em;                   /* Tamanho de texto maior */
    font-weight: bold;                  /* Texto em negrito */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); 
    bottom: 10; /* Fixa o footer na parte inferior da janela */
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(235, 214, 255, 0.8), rgba(1, 1, 94, 0.2));
  }
